<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/vite.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tailwind + Vite</title>

  <link rel="preconnect" href="https://fonts.bunny.net">
  <link href="https://fonts.bunny.net/css?family=instrument-sans:400,500,600|montserrat:400,500,600,700" rel="stylesheet" />

  <link href="/src/input.css" rel="stylesheet">
</head>
<body>
  <div class="dashboard">
    <div class="dashboard__container">
      <header class="dashboard__header">
        <div class="dashboard__header--logo">
          <h1>Smart<span class="text-primary">E</span>lect</h1>
        </div>
        <div class="dashboard__header--profile">
          <h4 class="dashboard__header--profile--name">Hola! Juan</h4>
          <div class="relative w-8 h-8">
            <!-- notifications -->
            <div class="container-notifications">
              <div class="notifications">
                <input type="checkbox" name="one" id="view-notifications" class="hide-input">
                <label for="view-notifications">
                    <span class="iconify notification_icon" data-icon="mingcute:bell-ringing-fill"></span>
                    <span class="bubble">
                      <span>99</span>
                    </span>
                </label>
                <div class="notifications-display">
                  <div class="relative bg-gray-200 overflow-hidden rounded-xl shadow-lg">
                    <div class="flex items-center justify-between w-full px-4 py-2">
                      <span class="label flex pt-1.5 pb-1 px-2 gap-1 bg-white rounded">
                        Notificaciones
                        <span class="inline-flex items-center justify-center w-5 h-5 font-semibold text-white bg-primary rounded-full">
                          0
                        </span>
                      </span>
                      <form action="https://app.miclientela.com/notificaciones/change_status_all" method="POST" class="inline-flex">
                        <input type="hidden" name="_token" value="MqFaDCAQYD3AtpkiRVsHsTd9v8kHfZnq2JzWvfOQ">
                        <input type="hidden" name="_method" value="put">
                        <button type="submit" class="small" aria-label="Close">
                          Marcar como leídos
                        </button>
                      </form>
                    </div>
                    <div class="w-full bg-white">
                      <div class="w-full max-w-md p-4">
                        <p><strong>Sin notificaciones</strong><br>
                          No hay notificaciones en este momento
                        </p>
                      </div>      
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end notifications -->
          </div>
          <div class="relative w-8 h-8">
            <div class="container-profile">
              <div class="profile-data">
                <input type="checkbox" name="profile" id="view-profile" class="hide-input">
                <label for="view-profile">
                  <h5 class="profile-data__avatar">
                    JG
                  </h5>
                </label>
                <div class="profile-data__display">
                  <ul>
                    <li>
                      <a href="">
                        <span class="iconify" data-icon="mingcute:user-3-fill"></span> Mi Perfíl
                      </a>
                    </li>
                    <li>
                      <form method="POST" action="{{ route('logout') }}" class="w-full">
                          <button type="submit" class="clear">
                              <span class="iconify" data-icon="mingcute:right-fill"></span> Salir
                          </button>
                      </form>
                      <!-- <a href="">
                        <span class="iconify" data-icon="mingcute:right-fill"></span> Salir
                      </a> -->
                    </li>
                </div>
              </div>
            </div>
          </div>
          <div class="hide-mobile">
            <select class="min-w-3xs">
              <option value="">Option 1</option>
              <option value="">Option 2</option>
              <option value="">Option 3</option>
              <option value="">Option 4</option>
            </select>
          </div>
        </div>
      </header>
      <main class="dashboard__main">
        <aside class="dashboard__main__aside">
          <div class="container-lateral-menu">
              <input type="checkbox" name="one" id="lateral-menu" class="hide-input">
              <label for="lateral-menu">
                  <span class="iconify icon-open" data-icon="mingcute:menu-fill" data-width="24" data-height="24"></span>
                  <span class="iconify icon-close" data-icon="mingcute:close-fill" data-width="24" data-height="24"></span>
              </label>
              <div>
                  <div class="dashboard__main__aside--data__info">
                    Campaña
                    <h4>Jorge Rodriguez</h4>
                    <h5 class="text-gray-300">Alcalde de Palermo 2026 - 2030</h5>
                  </div>
                  <nav>
                    <ul class="lateral-menu">
                      <li><a href="" class="item__active">Noticias</a></li>
                      <li><a href="">Comités</a></li>
                      <li><a href="">Actividades</a></li>
                      <!-- <li class="sub">
                        <input type="checkbox" />
                        <a href="#" class="sub-item"><i class="fas fa-stethoscope"></i>Diagnóstico</a>
                        <ul class="submenu">
                          <li><a href="#">Iniciar Diagnóstico</a></li>
                          <li><a href="#">Diagnósticos Generados</a></li>
                        </ul>
                      </li> -->
                      <li><a href="" class="item__accent">Referir Simpatizante <span class="iconify" data-icon="mingcute:right-fill"></span></a></li>
                    </ul>
                  </nav>
                  <div class="dashboard__main__aside--vote">
                    <a href="#" class="item__accent"><span class="iconify" data-icon="mdi:vote"></span> Punto de Votación</a>
                  </div>
                  <select class="hide-desktop">
                    <option value="">Option 1</option>
                    <option value="">Option 2</option>
                    <option value="">Option 3</option>
                    <option value="">Option 4</option>
                  </select>
                </div>
          </div>
        </aside>
        <section class="dashboard__main__section">
          <!-- news -->
          <!--
          <article>
            <ul class="news">
              <li>
                <a href="">
                  <figure>
                    <img src="https://plus.unsplash.com/premium_photo-1683141540201-e7604f2eeceb?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mzd8fHBvbGl0aWNpYW58ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=500" alt="Titulo de la Noticia">
                  </figure>
                  <div>
                    <time datetime="2025-10-10">Octubre 10 de 2025</time>
                    <h3>Te queremos escuchar</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="">
                  <figure>
                    <img src="https://plus.unsplash.com/premium_photo-1682125703529-90e0b572e5bb?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NjF8fHBvbGl0aWNpYW58ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=500" alt="Titulo de la Noticia">
                  </figure>
                  <div>
                    <time datetime="2025-10-10">Octubre 10 de 2025</time>
                    <h3>Te queremos escuchar</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                  </div>
                </a>
              </li>
            </ul>
            <nav class="pagination" aria-label="Pagination">
              <button type="button" disabled aria-label="página anterior"><span class="iconify" data-icon="mingcute:left-fill"></span></button>
              <button type="button" class="active" aria-current="Página">1</button>
              <button type="button">2</button>
              <button type="button">3</button>
              <button type="button" aria-label="página siguiente"><span class="iconify" data-icon="mingcute:right-fill"></span></button>
            </nav>
          </article>
          -->
          <!-- end news -->
          
          <div class="breadcrumbs">
            <a href="">Comités</a> / Nombre de desgloce
          </div>

          <!-- Comités -->
          <article class="dashboard__main__section__article">
            <div class="flex justify-end">
              <button type="button" class="btn-primary"><span class="iconify" data-icon="mingcute:add-fill"></span>Agregar Comité</button>
            </div>
            <ul class="list-horizontal wrap-primary">
              <li>
                <a href="">
                  <h3>Nombre del Comité</h3>
                  <p>Coordinador</p>
                  <h5>Mario Julio García</h5>
                </a>
              </li>
              <li>
                <a href="">
                  <h3>Nombre del Comité</h3>
                  <p>Coordinador</p>
                  <h5>Mario Julio García</h5>
                </a>
              </li>
              <li>
                <a href="">
                  <h3>Nombre del Comité</h3>
                  <p>Coordinador</p>
                  <h5>Mario Julio García</h5>
                </a>
              </li>
              <li>
                <a href="">
                  <h3>Nombre del Comité</h3>
                  <p>Coordinador</p>
                  <h5>Mario Julio García</h5>
                </a>
              </li>
            </ul>
          </article>
          <!-- end Comités -->

          <!-- Actividades -->
          <article class="dashboard__main__section__article">
            <div class="flex justify-end">
              <button type="button" class="btn-primary"><span class="iconify" data-icon="mingcute:add-fill"></span>Agregar Actividad</button>
            </div>
            <ul class="list-vertical wrap-primary">
              <li>
                <div class="grid-9-3">
                  <div class="container-v">
                    <div class="flex">
                      <div class="tag">
                        De: <time datetime="2025-10-10">Octubre 10 de 2025</time> al <time datetime="2025-11-02">2 de Noviembre de 2025</time>
                      </div>
                    </div>
                    <h3>Enviar SMS</h3>
                    <p>Configurar la plataforma para el envío masivo de mensajes de texto al listado suministrado.</p>
                  </div>
                  <div class="container-v area-2">
                    <strong>Insumos</strong>
                    <ul class="container-v area-3">
                      <li>
                        <a href="" class="item">Listado<span class="iconify" data-icon="lets-icons:eye"></span></a>
                      </li>
                      <li>
                        <a href="" class="item">Volantes<span class="iconify" data-icon="mingcute:file-download-line"></span></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </article>
          <!-- end Actividades -->

          <!-- Estrategias -->
          <article class="dashboard__main__section__article">
            <div class="flex justify-end">
              <button type="button" class="btn-primary"><span class="iconify" data-icon="mingcute:add-fill"></span>Agregar Estrategia</button>
            </div>
            <ul class="list-vertical wrap-primary">
              <li>
                <a href="">
                  <h3>Nombre de la Estrategia</h3>
                </a>
              </li>
            </ul>
          </article>
          <!-- end Estrategias -->

          <div class="wrap-primary">
            <h3>Comuna 14 de Neiva</h3>
            <div class="text-gray-400">
              <h5>Comuna 14 / Neiva / Huila</h5>
              <p>
                <a href="">Listado de Simpatizantes en la Zona</a>
                <a href="">Puestos asignados al Lider de Zona</a>
              </p>
            </div>
            <div class="rounded-xl">
              mapa
            </div>
          </div>
        </section>
      </main>
    </div>
  </div>


<!--
  <h1 class="text-center">Smart<span class="text-primary">E</span>lect</h1>


    <div class='login-login'>
      sfsafafsaf
    </div>

<div class="flex flex-col">
    <h1 class='text-center'>Smart<span class='text-primary'>E</span>lect</h1>
    <div class='login-login'>
        <div class='form-login'>
            <h3>Acceso</h3>
            <form method="POST" wire:submit="login" class="space-y-2">
                <div class='group-form'>
                    <label for="username">Usuario</label>
                    <input type="email" id='username' wire:model='email'
                        required autoFocus autoComplete='email' placeholder='Digite su Usuario' />
                </div>
                <div class='group-form'>
                    <label for="pass">Clave</label>
                    <x-password-input id="pass" placeholder="Digite su Clave" wire:model.defer="password" autoComplete="current-password" required/>
                </div>
                {{-- btn --}}
                <div class='mt-4'>
                    <button type="submit" class='all-w btn-primary' data-test="login-button">
                        Iniciar Sesión
                        <x-icons.right-fill/>
                    </button>
                </div>
                @error('email')
                    <x-toast.error-toast :message="$message"/>
                @enderror
            </form>
            @if (Route::has('password.request'))
                <div class='flex w-full justify-center mt-2'>
                    <a href="{{route('password.request')}}" wire:navigate class='darkened base-bold text-grey-400'>Recuperar Contraseña</a>
                </div>
            @endif
            <div class="mt-2">
                @if (session('status'))
                    <x-toast.success-toast :message="session('status')"/>
                @endif
            </div>
        </div>
        <div class='register-area'>
            <a href="" class='button btn-tertiary'>
                Registrarse con
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 16 16">
                    <g fill="none" fill-rule="evenodd" clip-rule="evenodd">
                        <path fill="#f44336" d="M7.209 1.061c.725-.081 1.154-.081 1.933 0a6.57 6.57 0 0 1 3.65 1.82a100 100 0 0 0-1.986 1.93q-1.876-1.59-4.188-.734q-1.696.78-2.362 2.528a78 78 0 0 1-2.148-1.658a.26.26 0 0 0-.16-.027q1.683-3.245 5.26-3.86" opacity="0.987"/>
                        <path fill="#ffc107" d="M1.946 4.92q.085-.013.161.027a78 78 0 0 0 2.148 1.658A7.6 7.6 0 0 0 4.04 7.99q.037.678.215 1.331L2 11.116Q.527 8.038 1.946 4.92" opacity="0.997"/>
                        <path fill="#448aff" d="M12.685 13.29a26 26 0 0 0-2.202-1.74q1.15-.812 1.396-2.228H8.122V6.713q3.25-.027 6.497.055q.616 3.345-1.423 6.032a7 7 0 0 1-.51.49" opacity="0.999"/>
                        <path fill="#43a047" d="M4.255 9.322q1.23 3.057 4.51 2.854a3.94 3.94 0 0 0 1.718-.626q1.148.812 2.202 1.74a6.62 6.62 0 0 1-4.027 1.684a6.4 6.4 0 0 1-1.02 0Q3.82 14.524 2 11.116z" opacity="0.993"/>
                    </g>
                </svg>
            </a>
            @if (Route::has('register'))
                <a href="{{route('register')}}" wire:navigate class="button btn-tertiary">
                     Registrarme
                     <x-icons.right-fill/>
                </a>
            @endif
        </div>
    </div>
</div>
-->


  <script type="module" src="src/main.js"></script>
</body>
</html>
