/*-----------------------------------------------------------------------
    INPUTS
-----------------------------------------------------------------------*/
input:not([type="checkbox"]):not([type="radio"]):not([type="color"]):not(.clear), textarea:not(.clear) {
    @apply
    px-5
    py-2
    w-full
    border
    border-grey-300
    transition-[color,box-shadow]
    outline-none
    focus-visible:border-ring
    focus-visible:ring-ring/50
    focus-visible:ring-[3px]
    rounded-xl
    bg-white;
}

input::placeholder{
    @apply text-[14px]
    text-grey-200
    justify-between
    font-primary;
}

textarea:not(.clear) {
    @apply min-h-[100px];
}

input:not([type="checkbox"]):not([type="radio"]):not([type="color"]):not(.clear):disabled, select:not(.clear):disabled, textarea:not(.clear):disabled {
    @apply border-gray-400 placeholder-gray-600 text-gray-600 cursor-not-allowed;
}

input:not([type="checkbox"]):not([type="radio"]).error, select.error, textarea.error  {
    @apply border-error;
}

/*--------------------------------------------------------------
    SELECTS
*/
select:not(.clear) {
    @apply
    px-2 px-4 py-3
    w-full
    border
    border-grey-300
    rounded-xl
    bg-white
    appearance-none;
    /* background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'); */
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23A3A3A6%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
/* ------------------------------------------------------------
    GROUPS
--------------------------------------------------------------- */
.group-form {
    @apply w-full md:w-auto;
}

.group-form label, .group-form-v label {
    @apply inline-block md:mb-1;
}

.group-form-h, .group-form-v {
    @apply flex flex-col sm:flex-row sm:space-x-4 sm:items-center;
}

.group-form-h {
    @apply w-full md:flex-1;
}

.group-form-h label {
    @apply min-w-[80px] sm:text-right;
}

.group-form-h :last-child {
    @apply flex-1;
}

.group-form-v {
    @apply items-start sm:flex-col;
}

/* group-form-elements */

.group-form-elements {
    @apply flex flex-row justify-between items-stretch m-0 gap-0;
}
.group-form-elements > * , .group-form-v>:not([hidden])~:not([hidden]) {
    @apply !m-0;
}

.group-form-elements > *:first-child {
    @apply !rounded-r-none;
}

.group-form-elements > *:last-child {
    @apply !rounded-l-none;
}

/* ------------------------------------------------------------
  BUTTONS
--------------------------------------------------------------- */

button {
    @apply cursor-pointer;
}

/* default */
/* [type=button]:not(.btn-icon), [type=reset]:not(.btn-icon), [type=submit]:not(.btn-icon), a.button:not(.btn-icon), .sequence-links a:not(.btn-icon) { */
[type=button]:not(.btn-icon):not(.pagination *),
[type=reset]:not(.btn-icon):not(.pagination *),
[type=submit]:not(.btn-icon):not(.pagination *),
a.button:not(.btn-icon):not(.pagination *),
.sequence-links a:not(.btn-icon):not(.pagination *) {
    @apply inline-flex
    flex-wrap items-center gap-2 px-4 py-2
    font-normal
    leading-5
    border
    rounded-3xl
    cursor-pointer
    justify-center;
}

[type=button].all-w, [type=reset].all-w, [type=submit].all-w, a.button.all-w, .sequence-links a.all-w {
    @apply w-full;
}

/*primary*/
[type=button].btn-primary, [type=reset].btn-primary, [type=submit].btn-primary, a.button.btn-primary, .sequence-links a.btn-primary {
    @apply font-extrabold
    text-white
    bg-primary
    border-primary
    ;

     &:hover, &:focus {
        @apply text-primary bg-gray-100;
     }
}

/* tertiary*/
[type=button].btn-tertiary, [type=reset].btn-tertiary, [type=submit].btn-tertiary, a.button.btn-tertiary, .sequence-links a.btn-tertiary {
    @apply font-extrabold
    text-white
    bg-grey-400
    border-white;
}

/*icon on the right*/
button.btn-icon{
    @apply absolute
    right-3
    top-1/2
    transform
    -translate-y-1/2
    text-gray-400
    hover:text-gray-600;
}

/*disabled*/
button[disabled], input[type="button"][disabled], input[type="reset"][disabled], input[type="submit"][disabled] {
    @apply !bg-primary/90 !cursor-not-allowed opacity-70;
}
