@layer components {
  .lateral-menu {
    @apply w-full flex flex-col gap-3;
  }

  /* .lateral-menu svg {
    width: 50px;
  } */

  /* .lateral-menu input[type=checkbox] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: block;
    cursor: pointer;
  } */

  .lateral-menu ul, .lateral-menu ul ul {
    margin: 0;
    padding: 0;
  }

  .lateral-menu li {
    position: relative;
    float: left;
    margin: 0 !important;
    width: 100%;
    list-style: none;
    transition: 0.5s;
  }


  /* .lateral-menu a {
    @apply bg-white text-black font-bold
    flex flex-wrap items-center gap-2 py-1.5 px-2
    rounded-lg
    ;
  }
  .lateral-menu a i {
    @apply text-sm;
  }

  .lateral-menu li:hover a.sub-item,
  .lateral-menu a:hover, .lateral-menu a:focus,
  .lateral-menu input[type=checkbox]:checked ~ a.sub-item {
    @apply bg-gray-500;
  } */

  .lateral-menu > li.sub > a:after {
    position: absolute;
    right: 0.5rem;
    width: 14px;
    height: 14px;
    content: "";

    /*
    transition: 0.5s;
    background-size: 16px 12px;
    background-position: right .75rem center; */
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%231A1920' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  }


  .lateral-menu ul.submenu {
    padding-top: 0;
    max-height: 0;
    overflow: hidden;
    /* transition: max-height 0.5s ease-in-out; */
    /* transition: max-height 0.3s ease, padding-top 0.4s ease; */
  }

  .lateral-menu input[type=checkbox]:checked ~ .submenu {
    @apply mt-2 bg-gray-500 px-1.5 py-2 rounded-lg;
    max-height: 999px;
  }

  .lateral-menu input[type=checkbox]:checked ~ a:after {
    transform: rotate(180deg);
  }

  /* nav .submenu a {
    padding: 10px 20px;
  } */

  .lateral-menu .submenu li {
    list-style-position: inside;
    list-style-type: square;
  }

  .lateral-menu .submenu li {
    list-style: none;
  }

  /* .lateral-menu .submenu li a {
    @apply font-normal bg-transparent;
  } */

  /* .lateral-menu .submenu li a {
    @apply bg-gray-200;
  } */
  .lateral-menu .submenu li a:hover, .lateral-menu .submenu li a:focus {
    @apply bg-gray-100;
  }

  /* nav .submenu li li {
    background: #3a3a3a;
  }

  nav .submenu li li li {
    background: #2a2a2a;
  } */
}
