@layer components {
    .news {
        @apply grid gap-10;

        & li {
            @apply grid lg:flex gap-5;

            & figure {
                width: 260px;
                height: 150px;
                @apply bg-primary overflow-hidden rounded-3xl;

                & img {
                    @apply object-cover;
                }
            }

            & a:hover, & a:focus {
                @apply text-primary;

                & img {
                    @apply opacity-80;
                }
            }
        }
    }
}
