.container-h {
    @apply flex flex-wrap flex-col md:flex-row items-stretch justify-start gap-3;

    &.children-full > * {
        @apply flex-1;
    }
}

.container-h.all-w {
    @apply flex-row;
}

.container-v {
    @apply flex flex-col gap-3;
}

.container-v h4, .container-v p:not(.wrapped-check__info p) {
    @apply m-0;
}

/* ------------------------------------------------------------
    LAYOUT
--------------------------------------------------------------- */
.area-1 {
    @apply p-6 bg-white rounded-3xl;
}

.area-2 {
    @apply p-2 bg-gray-50 rounded-xl;
}

.area-3 {
    @apply p-2 bg-light rounded-md;
}

.area-4 {
    @apply p-2 bg-light rounded-sm;
}

.grop-columns-2, .grop-columns-3,
.grop-columns-1-2, .grop-columns-2-1,
.grop-columns-1-3 , .grop-columns-3-1,
.grop-columns-4-1, .grop-columns-1-4 {
    @apply flex flex-col justify-between w-full gap-3;
}

.grop-columns-2, .grop-columns-3,
.grop-columns-1-2, .grop-columns-2-1 {
    @apply md:flex-row;
}

.grop-columns-1-3 , .grop-columns-3-1,
.grop-columns-4-1, .grop-columns-1-4 {
    @apply lg:flex-row;
}

.grop-columns-2 > * {
    @apply md:w-1/2;
}

.grop-columns-2.break-sm {
    @apply sm:flex-row;
}

.grop-columns-1-2 > *:first-child {
    @apply md:w-1/3;
}

.grop-columns-1-2 > *:last-child {
    @apply md:w-2/3;
}

.grop-columns-2-1 > *:first-child {
    @apply md:w-2/3;
}

.grop-columns-2-1 > *:last-child {
    @apply md:w-1/3;
}

.grop-columns-1-3 > *:first-child, .grop-columns-3-1 > *:last-child  {
    @apply lg:w-1/4;
}

.grop-columns-1-3 > *:last-child, .grop-columns-3-1 > *:first-child {
    @apply lg:w-3/4;
}

.grop-columns-1-4 > *:first-child, .grop-columns-4-1 > *:last-child {
    @apply md:w-1/5
}

.grop-columns-1-4 > *:last-child, .grop-columns-4-1 > *:first-child {
    @apply lg:w-4/5
}

.grop-columns-2.break-sm > * {
    @apply sm:w-1/2;
}

.grop-columns-3 {
    @apply lg:flex-row;
}

.grop-columns-3 > * {
    @apply lg:w-1/3;
}

.grop-columns-lg {
    @apply flex-col lg:flex-row;
}

.grop-columns-2.grop-columns-lg > * {
    @apply w-full lg:w-1/2;
}

.grop-columns-3.grop-columns-lg  > * {
    @apply w-full lg:w-1/3;
}

.grop-columns-xl {
    @apply flex-col xl:flex-row;
}

.grop-columns-2.grop-columns-xl > * {
    @apply w-full xl:w-1/2;
}

.grop-columns-3.grop-columns-xl  > * {
    @apply w-full xl:w-1/3;
}

.grid-2 {
    @apply grid grid-cols-1 md:grid-cols-2 gap-4;
}

.grid-3 {
    @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4;
}

.grid-9-3{
    @apply grid grid-cols-1 lg:grid-cols-[9fr_3fr] gap-3.5;
}
